body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
  }
  .header {
    background: #ffffff;
  }
  .section {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-inner {
    height: 105px;
    background: #ffffff;
  }
  .title {
    font-family: Cuprum;
    font-size: 36px;
    letter-spacing: 1.8px;
    color: #0194bf;
  }
  .contact {
    font-family: 'Open Sans';
    text-align: right;
    color: #0194bf;
    font-size: 16px;
    font-weight: 600;
  }
  .language {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #0194bf;
  }
  .language-select {
    text-decoration: none;
    margin: 0;
    padding: 10px;
    text-align: right;
    color: #0194bf;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    display: block;
    cursor: pointer;
  }
  .language-select:hover {
    background: #cdcdcd;
  }
  .main {
    background-image: linear-gradient(to top, #729246, #0194bf);
  }
  .main-inner {
    height: 474px;
  }
  .features {
  }
  .features-inner {
    height: 440px;
  }
  .footer {
    background-color: #38393c;
  }
  .footer-inner {
    height: 60px;
    color: #a0a0a0;
    justify-content: flex-end;
    font-size: 12px;
    letter-spacing: 0.6px;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 232px;
    background-color: #38393c;
    padding: 30px;
    color: #cdcdcd;
    line-height: 1.88;
    letter-spacing: 0.8px;
  }
  .select-env:hover {
    cursor: pointer;
  }
  .test-text {
    display: inline;
    width: 100px;
    color: #a0a0a0;
  }
  .select-button {
    width: 330px;
    height: 40px;
    border-radius: 5px;
    background-color: #729246;
    border: unset;
    color: #e9e3e3;
    font-size: 16px;
    letter-spacing: 0.8px;
    cursor: pointer;
    font-family: OpenSans;
  }
  .select-button:hover {
    background-color: #617c3c;
  }
  .description {
    color: #cdcdcd;
  }
  .description-title {
    width: 550px;
    height: 73px;
    font-size: 24px;
    line-height: 1.67;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
  .description-body {
    width: 550px;
    height:18px;
    font-size: 18px;
    font-weight: 600;
    line-height: 2.57;
    letter-spacing: 0.9px;
  }
  .feature {
    height: 200px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .feature-text {
    font-size: 16px;
    line-height: 2.25;
    letter-spacing: 0.8px;
    color: #0c4862;
  }
  .call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center
    width: 360px;
    height: 232px;
    background-color: #ffffff;
    padding: 30px;
    color: #38393c;
    line-height: 1.88;
    letter-spacing: 0.8px;
  }  
  .test-text2 {
    display: inline;
    width: 100px;
    color: #a0a0a0;
  }