body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
  }
  .header {
    background: #ffffff;
  }
  .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    text-align: left;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width:1024px){
    .section {
      flex-direction: row;
      padding: 0 5px;
    }
  }
  .header-inner {
    height: 105px;
    background: #ffffff;
  }
  .title {
    font-family: Cuprum;
    font-size: 36px;
    letter-spacing: 1.8px;
    color: #0194bf;
    padding-top: 30px;
  }
  @media (min-width:1024px){
    .title {
      padding-top: 0;
    }
  }
  .nav-bar {
    display: none;
    justify-content: center;
  }
  @media (min-width:1024px){
    .nav-bar {
      display: flex;
      justify-content: flex-end;
    }
  }
  .nav-item {
    text-align: right;
    color: #0194bf;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    padding-left: 34px;
  }
  .language-select {
    font-family: inherit;
    text-decoration: none;
    background-color:#ffffff;
    border: 0;
    margin: 0;
    box-shadow: 0;
    padding-right: 15px;
    color: #0194bf;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background: url(images/droparrow.png) 100% no-repeat;
  }
  .language-select:hover {
    color: #006d8f
  }
  .main {
    background-image: url(headline-background.jpg);
    background-size: cover;
    background-position: center;
  }
  .main-inner {
    height: 630px;
  }
  @media (min-width:1024px){
    .main-inner {
      height: 474px;
    }
  }
  .features {
    align-content: center; 
  }
  .features-inner {
    padding-top: 5px;
    height: 840px;
  }
  @media (min-width:1024px){
    .features-inner{
      height: 392px;
      padding-top: 0;
    }
  }
  .footer {
    background-color: #38393c;    
    height: 58px;  
    }
  .footer-inner {
    height: 58px;
    flex-direction: row;
    justify-content: center; 
  }
  @media (min-width:1024px){
    .footer-inner{
      justify-content: flex-end;
    }
  }
  .footer-items {
    color: #a0a0a0;
    font-size: 12px;
    letter-spacing: 0.6px;
    padding-left: 10px;
  }
  @media (min-width:1024px){
    .footer-items{
      padding-left: 20px;
    }
  }
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 240px;
    background-color: #38393c;
    color: #cdcdcd;
    line-height: 1.88;
    letter-spacing: 0.8px;
    max-height: auto;
    text-align: auto;
  }
  @media (min-width:1024px){
    .login-form {
      width: 500px;
    }
  }
  .first-line {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
  }
  @media (min-width:1024px){
    .first-line {
      font-size: 16px;
      }
    }
  .test-text {
    display: block;
    color: #a0a0a0;
    font-size: 9px;
    letter-spacing: 0.6px;
    text-decoration: none;
    padding-bottom: 20px;
  }
  @media (min-width:1024px){
    .test-text {
      font-size: 12px;
    }
  }
  label {
    font-family: inherit;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #729246;
    border: unset;
    color: #e9e3e3;
    font-size: 13px;
    letter-spacing: 0.8px;
    text-align: center;
    padding-top: 10px;
  }
    #upload-photo {
    display: none;
  }
  @media (min-width:1024px){
    label {
    font-size: 16px;
    width: 330px;
    }
  }
  label:hover {
    background-color: #617c3c;
  }
  .browse-button {
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0 25px;
    align-self: stretch;
  }
  @media (min-width:1024px){
    .browse-button{
      align-self: center;   
    }
  }
  .select-env {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  .description {
    color: #ffffff;
    margin-left: 20px; 
  }
  @media (min-width:1024px){
    .description{
      margin-left: 20px; 
      }
    }
  .description-title {
    font-size: 24px;
    line-height: 1.67;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
    margin-top: 60px; 
  }
  @media (min-width:1024px){
    .description-title{
      font-size: 30px;
      line-height: 50px;
      margin-top: 0px; 
      }
    }
  .description-body {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: 0.8px;
  }
  @media (min-width:1024px){
    .description-body{
      line-height: 2.57;
      letter-spacing: 0.9px;
      }
    }
  .feature {
    height: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (min-width:1024px){
    .feature{
      justify-content: space-between; 
      padding: 0;
      }
    }
  .feature-text-header {
    font-size: 19px;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: 0.8px;
    color: #0c4862;
    text-align: left;
    padding-top: 20px;
  }  
  @media (min-width:1024px){
    .feature-text-header{
      line-height: 2.25;
      padding-top: 0px;
      }
    }
  .feature-text {
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.8px;
    color: #0c4862;
    padding-top: 20px;
    text-align: left;
  }
  @media (min-width:1024px){
    .feature-text{
      line-height: 2.25;
      padding-top: 0px;
      text-align: center;
      }
    }
  .call-to-action {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    align-items: center;
    align-self: center;
    background-color: #f1fcff;
    height: 250px;
    color: #38393c;
    line-height: 1.88;
    font-size: 16px;
    letter-spacing: 0.6px;
  }  
  .CTA-inner {
    padding-bottom: 20px;
    padding: 0 25px;
  }
  .select-env-bottom {
    padding-top: 20px;
  }
  .test-text2 {
    display: inline;
    width: 100px;
    color: #a0a0a0;
    font-size: 12px;
    text-decoration: none;
  }
  .image {
    width: 41px;
    height: auto;
  }
  @media (min-width:1024px){
    .image {
     width: auto;
     height: auto;
    }
  }
