body {
    margin: 0;
    padding: 0;
    font-family: 'Open+Sans';
  }
  .header {
    background: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
  .section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0 5px;
    align-items: center;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-inner {
    height: 105px;
    background: #ffffff;
  }
  .title {
    font-family: 'Cuprum';
    font-size: 36px;
    letter-spacing: 1.8px;
    color: #262626;
    padding-right: 90px;
  }
  .company {
    font-family: 'Open+Sans';
    align-items: flex-end;
    width: 240px;
    height: 22px;
    font-size: 15px;
    padding-right: 20px;
    font-weight: 500;
    line-height: 1.8;
    color: #262626;
    background: url(images/droparrow.png) 100% no-repeat;
  }
  .language {
    font-family: 'Open+Sans';
    font-size: 15px;
    color: #262626;
    background-color: #ffffff;
  }
  .language-select {
    font-family: 'Open+Sans';
    text-decoration: none;
    background-color:#ffffff;
    border: 0;
    margin: 0;
    box-shadow: 0;
    padding-left: 20;
    padding-right: 15;
    text-align: left;
    align-items: flex-end;
    color: #262626;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background: url(images/droparrow.png) 100% no-repeat;
  }
  .language-select:hover {
    color: #262626;
  }
  .log-out {
    font-family: 'Open+Sans';
    font-size: 15px;
    width: 70px;
    height: 22px;
    line-height: 1.8;
    font-weight: 600
  }
  .main {
    display: flex;
    justify-content: center;
    align: center;
    height: 476px;
  }
  .section-main {
    display: flex;
    width: 50px;
  }
  .search {
    width: 200px;
    height: 40px;
  }
  .result {
    width: 200px;
    height: 40px;
  }
  .data-input {
    display: inline;
    width: 755px;
  }